<html>
    <head>
        <h1>MAYRA CODEANDO MIAU</h1>
    </head>
    <body>
        <div>
            <h3><a href="/">Django Girls Blog</a></h3>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>Parecemos el meme del perro en el lab, y la mina viendo cálculos por todos lados. Miau</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>